In [1]:
import pandas as pd

In [191]:
now = pd.read_csv('jj_now.csv', engine = "python", encoding = 'utf-8',header = None)
past = pd.read_csv('jj_past.csv', engine = "python", encoding = 'utf-8',header = None)
rating = pd.read_csv('jj_rating.csv', engine = "python", encoding = 'utf-8',header = None)
manager = pd.read_csv('manager.csv', engine = "python", encoding = 'utf-8',header = None)

In [192]:
now.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,30061686,6507,前海开源裕泽(FOF),混合-FOF,0.22%,92.8251%,7.20%,87.2185%,12.09%,87.8229%,16.53%,93.7837%,7.63%,93.0437%
1,30061686,6507,前海开源裕泽(FOF),混合-FOF,0.22%,92.8251%,7.20%,87.2185%,12.09%,87.8229%,16.53%,93.7837%,7.63%,93.0437%

In [193]:
now.columns = ['manager_code','stock_code', 'stock_name', 'type', 'r3m','r3m_tl','r6m','r6m_tl',
              'r1y','r1y_tl','r2y','r2y_tl','thisy','thisy_tl']#单位全去掉，然后这个就全弄成，百分比的数值。

In [194]:
def conver(x):
    x = str(x)
    if x == '-':
        return 0
    elif x=='nan':
        return 0
    elif x == 'na':
        return 0
    else:
        return float(str(x)[:-1])

In [195]:
for i in range(4, len(now.columns)):
    now.iloc[:,i] = now.iloc[:,i].apply(conver)

In [197]:
now.stock_code = now.stock_code.apply(lambda x: str(x).rjust(6,'0'))

In [230]:
top_manager = now.sort_values(['thisy','r3m','r6m','r1y'],ascending=False).groupby(now.manager_code).mean().head(5).manager_code.to_list()

In [240]:
top_name = []
for i in top_manager:
    top_name.append(manager[manager.iloc[:,1]==i].iloc[0,0])

In [241]:
top_name

['王旭巍', '魏东', '刘明', '徐荔蓉', '袁建军']

In [224]:
len(manager[0].unique())      # 名字去重以后才 2095 人

2095

In [226]:
len(manager[1].unique())      # 编号去重后 2162 人

2162

In [227]:
len(manager[1].unique())  - len(manager[0].unique())   # 67 人同名

67

In [242]:
top_manager

[30036316, 30036321, 30036322, 30036328, 30036416]

In [248]:
top_code = []
for i in top_manager:
    top_code.append(now[now.manager_code==i].iloc[0,1])

In [249]:
top_code# 结合支付宝的情况，买了  004602 和 450001 各10块钱，现在是12月29日。

['004602', '257020', '005359', '450001', '008169']